"*":
  "atom-beautify":
    css:
      indent_size: 2
    ejs:
      indent_size: 2
    js:
      indent_size: 2
    scss:
      indent_size: 2
  core:
    destroyEmptyPanes: false
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    fontSize: 12
    invisibles: {}
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "ef806534-1f49-423f-8515-7fc2d3c60ce7"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#caa9fb"
        cyan: "#9aedfe"
        green: "#5af68d"
        magenta: "#ff92d1"
        red: "#ff6e67"
        white: "#c7c7c7"
        yellow: "#f4f89d"
      zBright:
        brightBlack: "#686868"
        brightBlue: "#c9a8fa"
        brightCyan: "#99ecfd"
        brightGreen: "#5af58c"
        brightMagenta: "#ff92d1"
        brightRed: "#fe6e67"
        brightYellow: "#f4f89d"
    core: {}
    style:
      fontFamily: "Meslo LG S for Powerline"
      fontSize: "12"
      theme: "one-dark"
  wakatime:
    apikey: "Enter your api key..."
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
