"*":
  "atom-beautify":
    css:
      indent_size: 2
    ejs:
      indent_size: 2
    js:
      indent_size: 2
    scss:
      indent_size: 2
  core:
    destroyEmptyPanes: false
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    fontSize: 12
    invisibles: {}
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "ef806534-1f49-423f-8515-7fc2d3c60ce7"
  "platformio-ide-terminal":
    style:
      fontSize: "14"
  wakatime:
    apikey: "Enter your api key..."
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
